<app-navbar></app-navbar>

<div class="p4 d-flex flex-column min-vh-100">
    <div class="container flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="card grad-card shadow-sm w-100" style="max-width: 800px;">
            <div class="card-body py-3">
                <h5 class="text-center text-success fw-bold mb-3">
                    Change Password
                </h5>

                <div class="alert alert-success alert-dismissible fade show" role="alert"
                    *ngIf="!form.error && form.message">
                    {{ form.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                    *ngIf="form.error && form.message">
                    {{ form.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form>
                    <div class="row">
                        <!-- Old Password -->
                        <div class="col-12 mb-2">
                            <label class="form-label"><strong>Old Password</strong> <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text"><i class="fa fa-key text-muted"></i></span>
                                <input type="password" class="form-control" name="oldPassword"
                                    [(ngModel)]="form.data.oldPassword" placeholder="Enter Old Password">
                            </div>
                            <div class="text-danger small">{{form.inputerror.oldPassword}}</div>
                        </div>
                        <!-- New Password -->
                        <div class="col-12 mb-2">
                            <label class="form-label"><strong>New Password</strong> <span
                                    class="text-danger">*</span></label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text"><i class="fa fa-key text-muted"></i></span>
                                <input type="password" class="form-control" name="newPassword"
                                    [(ngModel)]="form.data.newPassword" placeholder="Enter New Password">
                            </div>
                            <div class="text-danger small">{{form.inputerror.newPassword}}</div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2">
                        <button type="button" class="btn btn-success btn-sm px-4" (click)="changePassword()">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>