./ORSProject-10/doc
./ORSProject-10-FC/doc

# Ignore all target folders everywhere
target/

# Ignore docs if not needed
doc/

# Angular / Node
.angular/
.vscode/
node_modules/
dist/

# Optional: metadata
.metadata/