<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Brand / Logo -->
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/img/rayslogo.jpg" height="42" alt="Logo">
    </a>
    <select #locale (change)="changeLocale(locale.value)">
        <option value="0">{{ 'LocaleSelect.Select' | translate }}</option>
        <option value="en">{{ 'LocaleSelect.English' | translate }}</option>
        <option value="hi">{{ 'LocaleSelect.Hindi' | translate }}</option>
    </select>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">


            <!-- ========== ADMIN MENUS ========== -->
            <ng-container *ngIf="isLogin()"> <!-- assuming 1 = ADMIN -->
                <!-- User -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">User</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/user']">
                            <i class="fas fa-user-plus mr-2"></i>Add User
                        </a>
                        <a class="dropdown-item" [routerLink]="['/userlist']">
                            <i class="fas fa-users mr-2"></i>User List
                        </a>
                    </div>
                </li>

                <!-- Marksheet -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Marksheet</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/marksheet']">
                            <i class="fas fa-file mr-2"></i>Add Marksheet
                        </a>
                        <a class="dropdown-item" [routerLink]="['/marksheetlist']">
                            <i class="fas fa-paste mr-2"></i>Marksheet List
                        </a>
                        <a class="dropdown-item" [routerLink]="['/marksheetmeritlist']">
                            <i class="fas fa-award mr-2"></i>Merit List
                        </a>
                        <a class="dropdown-item" [routerLink]="['/getmarksheet']">
                            <i class="fas fa-copy mr-2"></i>Get Marksheet
                        </a>
                    </div>
                </li>

                <!-- Role -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Role</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/role']">
                            <i class="fas fa-user-tag mr-2"></i>Add Role
                        </a>
                        <a class="dropdown-item" [routerLink]="['/rolelist']">
                            <i class="fas fa-list mr-2"></i>Role List
                        </a>
                    </div>
                </li>

                <!-- College -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">College</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/college']">
                            <i class="fas fa-university mr-2"></i>Add College
                        </a>
                        <a class="dropdown-item" [routerLink]="['/collegelist']">
                            <i class="fas fa-building mr-2"></i>College List
                        </a>
                    </div>
                </li>

                <!-- Course -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Course</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/course']">
                            <i class="fas fa-book mr-2"></i>Add Course
                        </a>
                        <a class="dropdown-item" [routerLink]="['/courselist']">
                            <i class="fas fa-list mr-2"></i>Course List
                        </a>
                    </div>
                </li>

                <!-- Student -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Student</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/student']">
                            <i class="fas fa-user-graduate mr-2"></i>Add Student
                        </a>
                        <a class="dropdown-item" [routerLink]="['/studentlist']">
                            <i class="fas fa-users mr-2"></i>Student List
                        </a>
                    </div>
                </li>

                <!-- Faculty -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Faculty</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/faculty']">
                            <i class="fas fa-user-plus mr-2"></i>Add Faculty
                        </a>
                        <a class="dropdown-item" [routerLink]="['/facultylist']">
                            <i class="fas fa-users mr-2"></i>Faculty List
                        </a>
                    </div>
                </li>

                <!-- Time Table -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Time Table</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/timetable']">
                            <i class="fas fa-clock mr-2"></i>Add TimeTable
                        </a>
                        <a class="dropdown-item" [routerLink]="['/timetablelist']">
                            <i class="fas fa-list mr-2"></i>TimeTable List
                        </a>
                    </div>
                </li>

                <!-- Subject -->
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Subject</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/subject']">
                            <i class="fas fa-book-open mr-2"></i>Add Subject
                        </a>
                        <a class="dropdown-item" [routerLink]="['/subjectlist']">
                            <i class="fas fa-list mr-2"></i>Subject List
                        </a>
                    </div>
                </li>


            </ng-container>

            <!-- ========== PROFILE / AUTH DROPDOWN (always visible when logged in) ========== -->
            <li class="nav-item dropdown px-1" *ngIf="isLogin()">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    {{ 'Greetings.HiUser' | translate:{ name: form.data.fname, role: form.data.role } }}
                </a>
                <div class="dropdown-menu dropdown-menu-right mr-2">
                    <a class="dropdown-item" (click)="forward()">
                        <i class="fas fa-user mr-2"></i>My Profile
                    </a>
                    <a class="dropdown-item" [routerLink]="['/changepassword']">
                        <i class="fas fa-key mr-2"></i>Change Password
                    </a>
                    <a class="dropdown-item" href="javadoc/index.html" target="_blank">
                        <i class="fas fa-code mr-2"></i>Java Doc
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
                        <i class="fas fa-sign-out-alt mr-2"></i>Logout
                    </a>
                </div>
            </li>

            <!-- Login/Register when not logged in -->
            <li class="nav-item dropdown px-1" *ngIf="!isLogin()">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    {{ 'Greetings.HiGuest' | translate }}
                </a>
                <div class="dropdown-menu dropdown-menu-right mr-2">
                    <a class="dropdown-item" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt mr-2"></i>Login
                    </a>
                    <a class="dropdown-item" [routerLink]="['/register']">
                        <i class="fas fa-user-plus mr-2"></i>Register
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>