<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading" style="height: 50px;">
            <div class="col-sm-12 pt-3">
                <h3 class="text-light text-center font-weight-bold">{{'Marksheet Merit List'}}</h3>
            </div>
        </div>

        <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
        </div>
        <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
        </div>

        <div style="margin-left: 87%;" class="pb-2">

            <a href="http://localhost:8080/Jasper/report" class="btn btn-lg btn-primary " role="button" target="blank">
                <span class="fa fa-print mr-1"></span>{{'Print' }}</a>
        </div>

        <div class="p-1">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover font-weight-bold grad">
                    <thead class="thead-dark text-uppercase">
                        <tr>
                            <th>{{'S.No' }}</th>
                            <th>{{'RollNO'}} </th>
                            <th>{{'Name' }}</th>
                            <th>{{'Physics'}}</th>
                            <th>{{'Chemistry'}}</th>
                            <th>{{'Maths'}}</th>
                            <th>{{'Total'}}</th>
                            <th>{{'Percentage(%)'}}</th>
                        </tr>
                    </thead>

                    <tbody style="background-color: white;">
                        <tr *ngFor="let m of form.list; let i = index">
                            <td>{{(form.pageNo*5)+i+ 1}} </td>
                            <td>{{m.rollNo}}</td>
                            <td>{{m.name}}</td>
                            <td>{{m.physics}}</td>
                            <td> {{m.chemistry}}</td>
                            <td> {{m.maths}}</td>
                            <td>{{m.physics+m.maths+m.chemistry}}</td>
                            <td>{{((m.physics+m.maths+m.chemistry)*100)/300 | number:'2.0-2' }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>